<div class="jumbotron">
    <h1>Today Newsletter</h1>
    <p class="lead">here you can see the list of today newsletter screenshots.</p>
    <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
</div>


<div class="row marketing">
    
    <? foreach ($dates as $key => $value) { ?>
    <a href="<? echo $this->url('home'); ?>?start=<? echo $value[1]; ?>"><? echo $value[0]; ?></a><br />
    <? } ?>
</div>