<div class="jumbotron">
    <h1>Today Newsletter</h1>
    <p class="lead">here you can see the list of today newsletter screenshots.</p>
    <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
</div>


<div class="row marketing">
    
    <? foreach ($screenshots as $key => $value) { ?>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<? echo $this->basePath(); ?>/data/thumb/<? echo date('Y-m-d',$value->getInitTime()) ; ?>/<? echo $value->getThumb(); ?>" alt="<? echo $value->getNewsletter(); ?>">
      <div class="caption">
        <h3 style="text-align:center;"><? echo $value->getNewsletter(); ?></h3>
        <p style="text-align:center;"><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal<? echo $value->getId(); ?>">Show</a> </p>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal<? echo $value->getId(); ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:761px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><? echo $value->getNewsletter(); ?></h4>
      </div>
      <div class="modal-body">
         <img src="<? echo $this->basePath(); ?>/data/original/<? echo date('Y-m-d',$value->getInitTime()) ; ?>/<? echo $value->getOriginal(); ?>" alt="<? echo $value->getNewsletter(); ?>">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  <? } ?>
</div>